.input {
    border: none;
    border-bottom: 1px solid #323232;
    background: none;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    width: 100%;
    border-radius: 6px;
    transition: .3s all;
}

.input-title {
    font-size: 32px;
}

.invalid {
    border: 1px solid red;
    background: rgb(68, 6, 6);
}